.draft {
  background-image: url(../images/community/docbook/status/draft.png);
  background-repeat: repeat;
}

.confidential {
  background-image: url(../images/community/docbook/status/confidential.png);
  background-repeat: no-repeat;
  margin: 0em auto;
  padding: 0em;
  width: 324px;
  height: 75px;
}

.alpha1 {
  background: white url(../images/community/watermark-alpha1.png) top left repeat;
}

.alpha2 {
  background: white url(../images/community/watermark-alpha2.png) top left repeat;
}

.beta1 {
  background: white url(../images/community/watermark-beta1.png) top left repeat;
}

.beta2 {
  background: white url(../images/community/watermark-beta2.png) top left repeat;
}

.pre-release-candidate {
  background: white url(../images/community/watermark-pre-release-candidate.png) top left repeat;
}

.release-candidate {
  background: white url(../images/community/watermark-release-candidate.png) top left repeat;
}

.titlepage h1.title {
  padding-top: 1.5em;
  padding-bottom: 0em;
  text-align: center;
}

.titlepage h2.subtitle, .titlepage div.cover, .titlepage h5.corpauthor, .titlepage div.org, .titlepage div.authorgroup, .titlepage div.author, .titlepage div.editor, .titlepage div.othercredit, .titlepage div.publisher, .titlepage div.collab, .titlepage p.copyright, .titlepage h3.edition, .titlepage h4.pubdate {
  text-align: center;
}

#title {
  padding: 0px;
  margin: 0px;
}

#title strong {
  display: none;
}

dt span.chapter a, dt span.appendix a {
  font-weight: bold;
}

dt span.section a {
  font-weight: normal;
}

div.note, div.tip, div.important, div.caution, div.warning {
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: #fcfcfc;
  padding: 1em;
  padding-left: 75px;
  padding-bottom: 20px;
  margin-top: .5em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.note {
  background-image: url(../images/community/docbook/admonitions/note.png);
}

div.tip {
  background-image: url(../images/community/docbook/admonitions/tip.png);
}

div.important {
  background-image: url(../images/community/docbook/admonitions/important.png);
}

div.caution {
  background-image: url(../images/community/docbook/admonitions/caution.png);
}

div.warning {
  background-image: url(../images/community/docbook/admonitions/warning.png);
}

div.note h2, div.tip h2, div.important h2, div.caution h2, div.warning h2 {
  height: 32px;
  line-height: 1.2em;
  font-size: 1.3em;
}

div.note li, div.tip li, div.caution li, div.warning li, div.important li {
  padding-left: 10px;
  margin: 0em;
}

div.note ul, div.tip ul, div.caution ul, div.warning ul, div.important ul {
  padding-left: 40px;
  margin: 0em;
}

div.note h2, div.note p, div.tip h2, div.tip p, div.caution h2, div.caution p, div.warning h2, div.warning p, div.important h2, div.important p {
  padding: 0em;
  margin: 0em;
}

a, a:hover {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.toc ul {
  list-style-image: none;
  list-style-type: none;
}

ul {
  list-style-image: url(../images/community/dot.png);
  list-style-type: circle;
}

ul ul {
  list-style-image: url(../images/community/dot2.png);
  list-style-type: circle;
}

.strikethrough {
  text-decoration: line-through;
}

.accel {
  text-decoration: underline;
}

.callout {
  display: inline;
  margin: 0em .1em 0em .1em;
  padding-bottom: .3em;
  vertical-align: middle;
}

.command, .computeroutput, .filename, .citetitle, .replaceable, .option {
  font-weight: bold;
}

pre code {
  white-space: pre;
}
